@use "../variables" as *;
@use "../mixins" as *;
@use "../global" as *;

.about {
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    @extend .section-title;
  }

  .about-content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;

    p {
      max-width: 600px;
      font-size: 1.1rem;
      margin-right: 2rem;
      margin-bottom: 1rem;
      text-align: justify;
      text-justify: inter-word;
    }

    img {
      width: 100%;
      max-width: 400px;
      border-radius: 10px;
    }
  }

  @include respond(xs) {
    .about-content {
      p {
        font-size: 1rem;
        margin-right: 0;
      }

      img {
        max-width: 300px;
      }
    }
  }
}